<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <!-- font awesame -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
  <!-- script -->
  <script src="script.js"></script>
  <!-- css -->
  <link rel="stylesheet" href="master.css">
  <title>BoolFlix</title>
</head>
  <body>
    <div id="containerVue">
      
      <header>
        <div class="logo">
          <h1 id="title">BOOLFLIX</h1>
        </div>
        <div class="search">
          <input type="text" v-model='input'>
          <button class="btn" type="button" name="button" @click='search' >Cerca</button>
        </div>
      </header>

      <div id="contents">

        <div class="card" v-for='item in contents' v-on:mouseenter='myActive(item)' @mouseleave='myActive(item)'>

          <div class="info">

            <p v-if='item.title'>
              <span class="bold">TITOLO:</span>
              {{item.title}}
            </p>

            <p v-else>
              <span class="bold">NOME:</span>
              {{item.name}}
            </p>

            <p v-if='item.known_for_department'>
              <span class="bold">RUOLO:</span>
              {{item.known_for_department}}
            </p>

            <div class="original">
              <p v-if='item.original_title'>
                <span class="bold">TITOLO ORIGINALE:</span>
                {{item.original_title}}
              </p>

              <p v-else-if='item.original_name'>
                <span class="bold">NOME ORIGINALE:</span>
                {{item.original_name}}
              </p>

              <div v-if='item.original_language' class="language">
                <span class="bold">LINGUA:</span>
                <img v-if='flag(item.original_language)' class="flag":src="language(item.original_language)" alt="">
                <span v-else>{{item.original_language}}</span>
              </div>

              <div v-if='item.vote_average'>
                <span>VOTO:</span>
                <i v-for='(satr,ind) in 5' class="fas fa-star"
                  :class='vote(item.vote_average) > ind ? "gold":"empty"'
                  v-if='item.vote_average'>
                </i>
              </div>

            </div>

            <p v-if='item.overview'>
              <span class="bold">OVERVIEW:</span>
              {{overview(item)}}...
            </p>

          </div>

          <img :src="'https://image.tmdb.org/t/p/original'+item.poster_path"
            :class='(item.active)?"overlay":"active"' v-if='item.poster_path'
          >
          <img :src="'https://image.tmdb.org/t/p/original'+item.profile_path"
            v-else-if='item.profile_path'
            :class='(item.active)?"overlay":"active"'
          >
          <img v-else src='img/not-found-image-15383864787lu.jpg'
            :class='(item.active)?"overlay":"active"'
          >

        </div>

      </div>

    </div>
  </body>
</html>
