<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <!-- font awesame -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
  <!-- script -->
  <script src="script.js"></script>
  <!-- css -->
  <link rel="stylesheet" href="master.css">
  <title>BoolFlix</title>
</head>
  <body>
    <div id="containerVue">
      <header>
        <div class="logo">
          <!-- img logo -->
        </div>
        <div class="search">
          <input type="text" v-model='input'>
          <button class="btn" type="button" name="button" @click='search' >Cerca</button>
        </div>
      </header>
      <div id="contents">
        <div class="card" v-for='item in contents'>
          <h1 v-if='item.title'>{{item.title}}</h1>
          <h1 v-else>{{item.name}}</h1>
          <!-- <div v-if='item.poster_path'>
            <img class="poster" :src="'https://image.tmdb.org/t/p/original'+item.poster_path" alt="">
          </div> -->
          <!-- <div v-else class="null">
          </div> -->
          <div class="original">
            <h2 v-if='item.original_title'>{{item.original_title}}</h2>
            <h2 v-else>{{item.original_name}}</h2>
            <div class="language">
              <img v-if='flag(item.original_language)' class="flag":src="language(item.original_language)" alt="">
              <span v-else>{{item.original_language}}</span>
            </div>
          </div>
          <p>{{overview(item)}}...</p>
          <div>
            <i v-for='(satr,ind) in 5' class="fas fa-star"
              :class='vote(item.vote_average) > ind ? "gold":"empty"'>
            </i>
          </div>
          <img class="poster" :src="'https://image.tmdb.org/t/p/original'+item.poster_path"
            :class='item.active ? "overlay":"active"' v-on:mouseover='myActive(item)'
          >
        </div>
      </div>
    </div>
  </body>
</html>
