/* generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 12px;
  background-color: grey;
}

#containerVue{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
}

/* header */
header{
  width: 100%;
  height: 75px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#title{
  color:red;
  font-size: 2.5rem;
  padding-left: 20px;
}
header input{
  width: 200px;
  height: 50px;
  border: none;
  color: #ffff;
  background-color: darkgrey;
}
.search{
  margin-right: 50px;
}
.btn{
  width: 75px;
  height: 30px;
}
/* contenuti */
#contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
}
.card{
  width: 230px;
  height: 330px;
  margin: 20px 25px;
  background-color: black;
  color:#ffff;
  position: relative;
}
.info{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: 3px solid #ffff;
}
.info p{
  font-size: 0.9rem;
  margin-top: 10px;
}
.bold{
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 5px;
}

/* language */
.language span{
  font: 0.9rem;
}
.flag{
  width: 20px;
  height: auto;
  margin-left: 5px;
}
/* voto */
.gold{
  color: gold;
}
.empty{
  color: grey;
}
/* hover card */
.overlay{
  display: block;
  width:100%;
  height: 100%;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 10;
}
.active{
  display: none;
}
